<div style="padding:1em;line-height:1.5" style="word-break: break-all;">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-md-offset-3 ui-lg-4 ui-lg-offset-4">
      <alert></alert>
      <h4>Edit user data</h4>
      <form [formGroup]="editUserDataForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>
            username:
          </label>
          <input
            formControlName="username"
            type="text"
            class="form-control"
            placeholder="{{ currentUser.username }}"
            [ngClass]="{ 'is-invalid': submitted && f.email.username }"
          />
        </div>
        <div class="form-group">
          <label>
            email:
          </label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="{{ currentUser.email }}"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>
            avatar:
          </label>
          <br />
          <div class="input-group">
            <label class="input-group-btn">
              <span class="btn btn-primary">
                Select file
                <input
                  type="file"
                  style="display: none;"
                  (change)="onFileSelected($event)"
                  accept="image/x-png,image/jpeg"
                />
              </span>
            </label>
            <input
              formControlName="avatar"
              type="text"
              class="form-control"
              style="display: inline; margin-left: 10px; border-radius: .25rem .0rem .0rem .25rem;"
              value="{{ file_name }}"
              placeholder="file name"
              readonly="true"
            />
          </div>
          <div
            *ngIf="valid_size"
            style="
          color:#dc3545;
          font-size: 80%;
          margin-left: 0px;"
          >
            <div>
              File must be a smaller than 1MB
            </div>
          </div>
          <div
            *ngIf="valid_type"
            style="
          color:#dc3545;
          font-size: 80%;
          margin-left: 0px;"
          >
            <div>
              File must be a type JPG or PNG
            </div>
          </div>
          <div *ngIf="valid_type || valid_size" style="
          margin-top: -5px;
          margin-left: 0px;
          height: 10px;">
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-success">Edit</button>
          <p-progressSpinner
            *ngIf="loading"
            [style]="{ width: '16px', height: '16px' }"
            strokeWidth="8"
            animationDuration=".5s"
          ></p-progressSpinner>
          <a
            [routerLink]="['/home']"
            class="btn btn-link"
            style="color: #34A835"
            >Cancel</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
