<p-dialog
  header="Terms of conditions SPORTCREW"
  [(visible)]="displayTerms"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '350px', minWidth: '200px' }"
  [minY]="70"
  [maximizable]="true"
  [baseZIndex]="10000"
>
  <h6>Gentlemen, welcome to Fight Club.</h6>
  <p>
    The first rule of Fight Club is: <b>You do not talk about Fight Club. </b>
  </p>
  <p>
    The second rule of Fight Club is: <b>You do not talk about Fight Club. </b>
  </p>
  <p>
    Third rule of Fight Club:
    <b>Someone yells "Stop!", goes limp, taps out, the fight is over. </b>
  </p>
  <p>Fourth rule: <b>Only two guys to a fight. </b></p>
  <p>Fifth rule: <b>One fight at a time, fellas.</b></p>
  <p>Sixth rule: <b>No shirts, no shoes. </b></p>
  <p>Seventh rule: <b>Fights will go on as long as they have to. </b></p>
  <p>
    And the eighth and final rule:
    <b>If this is your first night at Fight Club, you have to fight.</b>
  </p>
</p-dialog>

<div
  class="jumbotron"
  style="
    background-image:url('https://res.cloudinary.com/photop/image/upload/c_thumb,w_1920,g_center/v1556974072/SPOTCREW/athletes-ball-daytime-685382.jpg');
    background-size:cover;
    background-position: center;
    border-radius: 0;
    height: 100%"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <alert></alert>
        <p-card header="Register">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              />
              <div
                *ngIf="submitted && f.username.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.username.errors.required">
                  Username is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
                <div *ngIf="f.password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input
                  formControlName="terms"
                  type="checkbox"
                  class="custom-control-input"
                  id="customControlInline"
                  [ngClass]="{ 'is-invalid': submitted && f.terms.invalid }"
                />
                <label
                  class="custom-control-label"
                  for="customControlInline"
                  [ngClass]="{ 'is-invalid': submitted && f.terms.invalid }"
                  >Confirm that you've read the
                  <a [routerLink]="" (click)="showTerms()"
                    >Terms and Conditions</a
                  ></label
                >
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && f.terms.invalid"
                >
                  Please read and accept the Terms and conditions
                </div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                Register
              </button>
              <p-progressSpinner
                *ngIf="loading"
                [style]="{ width: '16px', height: '16px' }"
                strokeWidth="8"
                animationDuration=".5s"
              ></p-progressSpinner>
              <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
            </div>
          </form>
        </p-card>
      </div>
    </div>
  </div>
</div>
