<div style="padding:1em;line-height:1.5" style="word-break: break-all;">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-10 ui-md-offset-1 ui-lg-8 ui-lg-offset-2">
      <alert></alert>
    </div>
  </div>
  <div align="center" *ngIf="event === null && loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div class="ui-g" *ngIf="venue !== null && !loading">
    <div class="ui-g-12 ui-md-10 ui-md-offset-1 ui-lg-8 ui-lg-offset-2">
      <img
        class="d-block w-100"
        src="{{ event.sport_image }}"
        alt="First slide"
      />
      <h1>{{ event.name }}</h1>
      <h4>
        sport: <b>{{ event.sport_name }}</b>
      </h4>
      <h4>
        time:
        <b
          >{{ event.event_start | date: "EEEE dd.MM.yyyy HH:mm" }} -
          {{ event.event_stop | date: "HH:mm" }}</b
        >
      </h4>
      <p>
        {{ event.description }}
      </p>
      <br/>
      <button
        *ngIf="!userIsJoin"
        class="btn btn-success"
        style="width: 100%;"
        [disabled]="loginUserData"
        (click)="joinToEvent()"
      >
        Join
      </button>
      <button
        *ngIf="userIsJoin"
        class="btn btn-warning"
        style="width: 100%;"
        (click)="leaveToEvent()"
      >
        Leave
      </button>

      <br />
      <br />
      <label>
        host:
      </label>
      <div class="ui-g">
        <div class="ui-md-3">
          <img src="{{ host.avatar_link }}" style="width:100%;" />
        </div>
        <div class="ui-g-12 ui-md-9">
          <table style="height: 100%;">
            <tbody>
              <tr>
                <td class="align-middle">
                  <h4>
                    <b>{{ host.username }}</b>
                  </h4>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br />
      <label>
        players:
      </label>
      <div align="center" *ngIf="event.users.length === 0">
        <p style="margin-top: 20px;">no players</p>
      </div>
      <div align="center" *ngIf="event.users.length !== 0">
        <p>{{event.users.length}} players</p>
      </div>
      <div class="ui-g">
      <ng-container *ngFor="let user of event.users">
          <div class="ui-md-6">
            <div class="ui-g">
              <div class="ui-md-3">
                <img src="{{ user.avatar_link }}" style="width:100%;" />
              </div>
              <div class="ui-g-12 ui-md-9">
                <table style="height: 100%;">
                  <tbody>
                    <tr>
                      <td class="align-middle">
                        <h6>
                          <b>{{ user.username }}</b>
                        </h6>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </ng-container>
    </div>
      <br />
      <label>
        venue:
      </label>
      <div class="ui-g">
        <div class="ui-md-5">
          <img src="{{ venue.images[0].link }}" style="width:100%;" />
        </div>
        <div class="ui-g-12 ui-md-7">
          <h1>
            <b>{{ venue.name }}</b>
          </h1>
          <p><b>Address: </b> {{ venue.address }}</p>
          <p><b>City: </b> {{ venue.city }}</p>
        </div>
        <!-- <button
          class="btn btn-success"
          style="width: 100%;"
          (click)="showVenue()"
        >
          Venue details
        </button> -->
      </div>
    </div>
  </div>
</div>
