<div style="padding:1em;line-height:1.5" style="word-break: break-all;">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-8 ui-md-offset-2 ui-lg-6 ui-lg-offset-3">
      <alert></alert>
      <h4>Create event</h4>
      <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>
            name:
          </label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">
              Name is required
            </div>
            <div *ngIf="f.name.errors.minlength">
              Name must be at least 3 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>
            description:
          </label>
          <textarea
            formControlName="description"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <label>
            venue:
          </label>
          <div class="ui-g" *ngIf="read_venue_data">
            <div class="ui-md-5">
              <img src="{{ venue.images[0].link }}" style="width:100%;" />
            </div>
            <div class="ui-g-12 ui-md-7">
              <div style="height: 85%;">
                <h1>
                  <b>{{ venue.name }}</b>
                </h1>
                <p><b>Address: </b> {{ venue.address }}</p>
                <p><b>City: </b> {{ venue.city }}</p>
              </div>
            </div>
          </div>
          <button [disabled]="loading" class="btn btn-success" style="width: 100%;" (click)="changeVenue()">Change</button>
        </div>
        <div class="form-group">
          <label>
            sport:
          </label>
          <select
            formControlName="sport_id"
            class="form-control"
            id="exampleFormControlSelect1"
            [ngClass]="{ 'is-invalid': submitted && f.sport_id.errors }"
          >
          <option hidden >Please select</option>
            <option *ngFor="let sport of sports" [value]="sport.sport_id">
              {{ sport.name }}
            </option>
          </select>
          <div *ngIf="submitted && f.sport_id.errors" class="invalid-feedback">
            <div *ngIf="f.sport_id.errors.required">
              Sport is required
            </div>
          </div>
          <br />
        </div>
        <div class="form-group">
          <label>
            start:
          </label>
          <br />
          <div class="ui-fluid" style="padding: 0;">
            <p-calendar
              formControlName="event_start"
              [showTime]="true"
              [minDate]="minStartDateValue"
              [inline]="true"
              (onSelect)="onBlurMethod($event)"
            ></p-calendar>
          </div>
        </div>
        <div class="form-group">
          <label>
            end:
          </label>
          <br />
          <div class="ui-fluid" style="padding: 0;">
            <p-calendar
              formControlName="event_stop"
              [timeOnly]="true"
              [minDate]="minEndDateValue"
              [inline]="true"
            ></p-calendar>
          </div>
          <br />
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-success">Create</button>
          <p-progressSpinner
            *ngIf="loading"
            [style]="{ width: '16px', height: '16px' }"
            strokeWidth="8"
            animationDuration=".5s"
          ></p-progressSpinner>
          <a
            [routerLink]="['/home']"
            class="btn btn-link"
            style="color: #34A835"
            >Cancel
          </a>
        </div>
        <!-- <p>Form value {{ createEventForm.value | json }}</p>
        <p>Form status {{ createEventForm.status | json }}</p> -->
      </form>
    </div>
  </div>
</div>
