<div
  class="jumbotron"
  style="
    background-image:url('https://res.cloudinary.com/photop/image/upload/c_thumb,w_1920,g_center/v1556974083/SPOTCREW/action-ball-beach-1320761.jpg');
    background-size:cover;
    background-position: center;
    border-radius: 0;
    height: 100%"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <div class="alert alert-success" role="alert">Registration successful</div>


        <p-card header="Thank you for registering." >
          <p>
            An email has been sent to <b>{{ email }}</b>.
            Please check your email and use the enclosed link to finish
            registration.<br />
          </p>
          <div>
            <i class="pi pi-envelope" style="font-size: 3em"></i>
          </div>
          <a [routerLink]="['/login']" class="btn-link">Login page</a>
        </p-card>
      </div>
    </div>
  </div>
</div>
