<div style="padding:1em;line-height:1.5" style="word-break: break-all;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h3 style="margin-right: 20px; margin-bottom: 0px;">Venues</h3>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ui-inputgroup" style="margin-right: 10px;">
        <input
          type="text"
          pInputText
          placeholder="venue name"
          size="15"
          [(ngModel)]="query_name"
          (keyup.enter)="searchVenueForName()"
        />
        <button
          pButton
          type="button"
          label="Search"
          style="width: 80px;"
          (click)="searchVenueForName()"
        ></button>
      </div>

      <div class="ui-inputgroup my-2 my-lg-0" style="margin-right: 10px;">
        <p-autoComplete
          [(ngModel)]="query"
          [autoHighlight]="true"
          [suggestions]="locationResults"
          [minLength]="3"
          size="15"
          field="title"
          (completeMethod)="locationSearch($event)"
          placeholder="location"
          (onSelect)="searchEventInLocation($event)"
          (keyup.enter)="searchVenueForLocation()"
        ></p-autoComplete>
        <button
          pButton
          type="button"
          label="Search"
          style="width: 80px;"
          (click)="searchVenueForLocation()"
        ></button>
      </div>

      <div class="ui-inputgroup" style="margin-right: 10px;">
        <input type="text" pInputText placeholder="distance" />
        <span class="ui-inputgroup-addon">km</span>
      </div>

      <div class="navbar-nav mr-auto mt-2 mt-lg-0" style="height: 0px;"></div>

      <button
        pButton
        type="button"
        label="Add venue"
        class="ui-button-success form-inline my-0 my-lg-0"
        (click)="addVenue()"
      ></button>
    </div>
  </nav>

  <div align="center" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div align="center" *ngIf="!loading  && venues_count!==0">
    <p style="margin-top: 20px;">
      {{ venues_count }} results
    </p>
  </div>

  <div align="center" *ngIf="!loading && venues_count===0" >
    <h1 style="margin-top: 20px;">No Result Found</h1>
  </div>

  <div class="ui-g" style="margin-left: 10px; margin-top: 10px;">
    <div class="ui-md-12" style="padding: 0px; margin: 0px;">
      <alert></alert>
    </div>
    <div class="ui-g-12">
      <div
        *ngFor="let venue of venues"
        style="margin-top: 10px; margin-bottom: 10px;"
      >
        <p-card>
          <div class="ui-g">
            <div class="ui-md-5">
              <img src="{{ venue.images[0].link }}" style="width:100%;" />
            </div>
            <div class="ui-g-12 ui-md-7">
              <div style="height: 85%;">
                <h1>
                  <b>{{ venue.name }}</b>
                </h1>
                <p><b>Address: </b> {{ venue.address }}</p>
                <p><b>City: </b> {{ venue.city }}</p>
                <p *ngIf="currentLocation !== null"><b>Distance from you: </b> {{ venue.distance_from_you | number }} <b>km</b></p>
              </div>
              <div style="height: 50px;">
                <button
                  pButton
                  type="button"
                  label="Details"
                  class="ui-button-success"
                  style="float: right;"
                  (click)="showDetails(venue.venue_id)"
                ></button>
                <button
                  pButton
                  type="button"
                  label="Create event"
                  class="ui-button-success"
                  style="float: right; margin-right: 10px;"
                  (click)="createEvent(venue.venue_id)"
                ></button>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
