<div style="padding:1em;line-height:1.5" style="word-break: break-all;">
  <alert></alert>
  <div align="center" *ngIf="venue === null && loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div class="ui-g" *ngIf="venue !== null && !loading">
    <div class="ui-g-12 ui-md-10 ui-md-offset-1 ui-lg-8 ui-lg-offset-2">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="d-block w-100"
              src="{{ venue.images[0].link }}"
              alt="First slide"
            />
          </div>
          <ng-container *ngFor="let image of venue.images | slice: 1">
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="{{ image.link }}"
                alt="First slide"
              />
            </div>
          </ng-container>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <h1>{{ venue.name }}</h1>
      <button
        pButton
        type="button"
        label="Create event"
        class="ui-button-success"
        style="width: 100%"
        (click)="createEvent()"
      ></button>
      <h4>
        city: <b>{{ venue.city }}</b>
      </h4>
      <h4>
        address: <b>{{ venue.address }}</b>
      </h4>
      <p>
        {{ venue.description }}
      </p>
    </div>
  </div>
</div>
