<p-dialog
  header="Delete account"
  [(visible)]="display"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '350px', minWidth: '200px' }"
  [minY]="70"
  [maximizable]="true"
  [baseZIndex]="12000"
  appendTo="body"
>
  <p>Are you sure you wont to permanently delte this Account?</p>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check ui-button-danger"
      (click)="deleteAccount()"
      label="Yes"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-close"
      (click)="display = false"
      label="No"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-dialog>

<div style="padding:1em;line-height:1.5" style="word-break: break-all;">
  <alert></alert>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-4 ui-lg-3">
      <img
        src="{{avatar_url}}"
        style="width:100%;"
      />

    </div>
    <div class="ui-g-12 ui-md-8 ui-lg-9">
      <h2>Profile data</h2>
      <h4>
        username: <b>{{ currentUser.username }}</b>
      </h4>
      <h4>
        email: <b>{{ currentUser.email }}</b>
      </h4>
      <button
        pButton
        type="button"
        label="Edit data"
        class="ui-button-success"
        style="margin-right: 10px; margin-bottom: 5px;"
        (click)="goToEditUserDataPage()"
      ></button>
      <button
        pButton
        type="button"
        label="Change password"
        class="ui-button-success"
        style="margin-right: 10px; margin-bottom: 5px;"
        (click)="goToChangePasswordPage()"
      ></button>
      <button
        pButton
        type="button"
        label="Delete account"
        class="ui-button-danger"
        (click)="showDialogToDeleteAccount()"
      ></button>
    </div>
  </div>
</div>
