<div style="padding:1em;line-height:1.5" style="word-break: break-all;">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-8 ui-md-offset-2 ui-lg-6 ui-lg-offset-3">
      <alert></alert>
      <h4>Add venue</h4>
      <form [formGroup]="addVenueForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>
            name:
          </label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">
              Name is required
            </div>
            <div *ngIf="f.name.errors.minlength">
              Name must be at least 3 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>
            description:
          </label>
          <textarea
            formControlName="description"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <label>
            city:
          </label>
          <input
            formControlName="city"
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
          />
          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
            <div *ngIf="f.city.errors.required">
              City name is required
            </div>
            <div *ngIf="f.city.errors.minlength">
              City name must be at least 3 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>
            address:
          </label>
          <input
            formControlName="address"
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
          />
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">
              Address is required
            </div>
            <div *ngIf="f.address.errors.minlength">
              Address must be at least 3 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>
            location:
          </label>

          <div
            id="map"
            leaflet
            [leafletOptions]="options"
            [leafletLayers]="layers"
            (leafletClick)="selectCoordinates($event)"
            (leafletMapReady)="onMapReady($event)"
            (leafletMapMoveEnd)="findVenues()"
            style="width: 100%; height: 400px;"
          ></div>
          <div
              *ngIf="submitted && select_location"
              style="
          color:#dc3545;
          font-size: 80%;
          margin-left: 0px;"
            >
              <div>
                Location is required
              </div>
            </div>
        </div>
        <div class="form-group">
          <label>
            photos:
          </label>
          <br />

          <ng-container *ngFor="let item of select_file; let i = index">
            <div class="input-group">
              <label class="input-group-btn" >
                <span class="btn btn-primary">
                  Select file
                  <input
                    type="file"
                    style="display: none;"
                    (change)="onFileSelected($event, i)"
                    accept="image/x-png,image/jpeg"
                  />
                </span>
              </label>

              <p-progressSpinner
                *ngIf="uploadFile[i]"
                [style]="{ width: '35px', height: '35px' }"
                strokeWidth="8"
                animationDuration=".5s"
              ></p-progressSpinner>

              <input
                type="text"
                class="form-control"
                style="display: inline; margin-left: 10px; border-radius: .25rem .0rem .0rem .25rem;"
                value="{{ file_name[i] }}"
                placeholder="file name"
                readonly="true"
              />
            </div>
            <div
              *ngIf="valid_size[i]"
              style="
          color:#dc3545;
          font-size: 80%;
          margin-left: 0px;"
            >
              <div>
                File must be a smaller than 1MB
              </div>
            </div>
            <div
              *ngIf="valid_type[i]"
              style="
          color:#dc3545;
          font-size: 80%;
          margin-left: 0px;"
            >
              <div>
                File must be a type JPG or PNG
              </div>
            </div>
            <div
              *ngIf="valid_type[i] || valid_size[i]"
              style="
          margin-top: -5px;
          margin-left: 0px;
          height: 10px;"
            ></div>
          </ng-container>
        </div>

        <div class="form-group">
          <button [disabled]="loading" class="btn btn-success">Edit</button>
          <p-progressSpinner
            *ngIf="loading"
            [style]="{ width: '16px', height: '16px' }"
            strokeWidth="8"
            animationDuration=".5s"
          ></p-progressSpinner>
          <a
            [routerLink]="['/home']"
            class="btn btn-link"
            style="color: #34A835"
            >Cancel</a
          >
        </div>
        <!-- <p>Form value {{ addVenueForm.value | json }}</p>
        <p>Form status {{ addVenueForm.status | json }}</p> -->
      </form>
    </div>
  </div>
</div>
