
div.header{
  font-family: "Playfair display";
  text-align: center;
  background: #71bc4f;
  color: white;
  font-size: 20px;
  height: 48px;
}
div.logo{
  max-width: 48px;
}
div.map{
  width: calc(100% - 48px);
  height: 100%;
}
div.content{
  height: calc(100% - 96px);
}
div.router{
  height: 100%;
}
div.menu{
  width:48px;
  height: 100%;
}
div.login{
  height: 100%;
}
div.footer{
  font-size: 14px;
}
.custombar1 .ui-scrollpanel-wrapper {
  border-right: 0px solid #f4f4f4;
}
.custombar1 .ui-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color .3s;
}
.custombar1 .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}
