<!--The content below is only a placeholder and can be replaced.-->
<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Playfair+Display"
/>
<div class="ui-grid content">
  <div class="ui-g-12 ui-g-nopad header">
    <div class="ui-g-1 logo">
      <img src="./assets/icons/boisko32white.png" />
    </div>
    <div class="ui-g-11">
      <div class="ui-g-12 ui-g-nopad">
        S P O T C R E W
      </div>
    </div>
  </div>
  <div class="router" *ngIf="isUserLogged; else login">
    <div class="ui-g-1 ui-g-nopad menu">
      <app-menu></app-menu>
    </div>
    <div class="ui-g-11 ui-g-nopad map">
      <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
        <router-outlet></router-outlet>
      </p-scrollPanel>
    </div>
  </div>
  <ng-template #login>
    <div class="ui-g-12 ui-g-nopad login">
        <router-outlet></router-outlet>
    </div>
  </ng-template>
  <div class="ui-g-12 header footer">
    <div>
      © 2019 Copyright:
      <a href="#"> SPOTCREW</a>
      <button *ngIf="pwa.promptEvent" (click)="installPwa()">
        Install
      </button>
    </div>
  </div>
</div>



