<div
  class="jumbotron"
  style="
    background-image:url('https://res.cloudinary.com/photop/image/upload/c_thumb,w_1920,g_center/v1556973563/SPOTCREW/action-aerial-athletes-1171084.jpg');
    background-size:cover;
    background-position: center;
    border-radius: 0;
    height: 100%"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <alert></alert>

        <p-card header="Login">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Username</label>
              <input id="username"
                type="text"
                formControlName="username"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              />
              <div
                *ngIf="submitted && f.username.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.username.errors.required">
                  Username is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password"
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                Login
              </button>
              <p-progressSpinner
                *ngIf="loading"
                [style]="{ width: '16px', height: '16px' }"
                strokeWidth="8"
                animationDuration=".5s"
              ></p-progressSpinner>
              <a [routerLink]="['/register']" class="btn btn-link">Register</a>
            </div>
            <a [routerLink]="['/create-resetting-password']" class="btn-link">Forgot your password?</a>
          </form>
        </p-card>
      </div>
    </div>
  </div>
</div>
