<div style="padding:1em;line-height:1.5" style="word-break: break-all;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h3 style="margin-right: 20px; margin-bottom: 0px;">Events</h3>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ui-inputgroup" style="margin-right: 10px;">
        <input
          type="text"
          pInputText
          placeholder="event name"
          size="12"
          [(ngModel)]="query_name"
          (keyup.enter)="searchEventForName()"
        />
        <button
          pButton
          type="button"
          label="Search"
          style="width: 80px;"
          (click)="searchEventForName()"
        ></button>
      </div>

      <div class="ui-inputgroup my-2 my-lg-0" style="margin-right: 10px;">
        <p-autoComplete
          [(ngModel)]="query"
          [autoHighlight]="true"
          [suggestions]="locationResults"
          [minLength]="3"
          size="12"
          field="title"
          (completeMethod)="locationSearch($event)"
          placeholder="location"
          (onSelect)="searchEventInLocation($event)"
          (keyup.enter)="searchVenueForLocation()"
        ></p-autoComplete>
        <button
          pButton
          type="button"
          label="Search"
          style="width: 80px;"
          (click)="searchVenueForLocation()"
        ></button>
      </div>

      <div class="ui-inputgroup" style="margin-right: 10px;">
        <input type="text" size='8' pInputText placeholder="distance" />
        <span class="ui-inputgroup-addon">km</span>
      </div>

      <div class="ui-inputgroup my-2 my-lg-0" style="margin-right: 10px;">
        <select class="form-control" (change)="onChange($event.target.value)" style="width: 120px;">
          <option hidden >Please select</option>
            <option *ngFor="let sport of sports" [value]="sport.sport_id">
              {{ sport.name }}
            </option>
          </select>
      </div>

      <div class="navbar-nav mr-auto mt-2 mt-lg-0" style="height: 0px;"></div>

      <button
        pButton
        type="button"
        label="Create event"
        class="ui-button-success form-inline my-0 my-lg-0"
        (click)="addVenue()"
      ></button>
    </div>
  </nav>

  <div align="center" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div align="center" *ngIf="!loading  && events_count!==0">
    <p style="margin-top: 20px;">
      {{ events_count }} results
    </p>
  </div>

  <div align="center" *ngIf="!loading && events_count===0" >
    <h1 style="margin-top: 20px;">No Result Found</h1>
  </div>

  <div class="ui-g" style="margin-left: 10px; margin-top: 10px;">
    <div class="ui-md-12" style="padding: 0px; margin: 0px;">
      <alert></alert>
    </div>
    <div class="ui-g-12">
      <div
        *ngFor="let event of events"
        style="margin-top: 10px; margin-bottom: 10px;"
      >
        <p-card>
          <div class="ui-g">
            <div class="ui-md-5">
              <img src="{{event.sport_image}}" style="width:100%;" />
            </div>
            <div class="ui-g-12 ui-md-7">
              <div style="height: 85%;">
                <h1>
                  <b>{{ event.name }}</b>
                </h1>
              </div>
              <div style="height: 50px;">
                <button
                  pButton
                  type="button"
                  label="Details"
                  class="ui-button-success"
                  style="float: right;"
                  (click)="showDetails(event.event_id)"
                ></button>
                <!-- <button
                  pButton
                  type="button"
                  label="Join"
                  class="ui-button-success"
                  style="float: right; margin-right: 10px;"
                ></button> -->
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
