<div
  class="jumbotron"
  style="
    background-image:url('https://res.cloudinary.com/photop/image/upload/c_thumb,w_1920,g_center/v1556973563/SPOTCREW/aerial-aerial-shot-aerial-view-917503.jpg');
    background-size:cover;
    background-position: center;
    border-radius: 0;
    height: 100%"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <alert></alert>

        <p-card header="Resetting password">
          <form [formGroup]="resettingPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                Send
              </button>
              <p-progressSpinner
                *ngIf="loading"
                [style]="{ width: '16px', height: '16px' }"
                strokeWidth="8"
                animationDuration=".5s"
              ></p-progressSpinner>
              <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
            </div>
          </form>
        </p-card>
      </div>
    </div>
  </div>
</div>
