div.icon{
  width: 48px;
  height: 48px;
  background: #71bc4f;
  text-align: center;
  padding: 5px 0 0 0;
}
div.icon:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  cursor: pointer;
}
span.icon{
  font-size: 1.5em;
  color: #fff;
}
.tooltip{
  color: white;
}
div.searching-panel{
  padding: 5px 5px 10px 5px;
  width: 250px;
}
