<div>
  <div class="icon" pTooltip="Map" tooltipPosition="right" (click)="navigateTo('map')">
    <span class="icon">
      <i class="fas fa-map-marked"></i>
    </span>
  </div>
  <div #actualTarget class="icon" pTooltip="Search" tooltipPosition="right" (click)="showSearchingPanel($event, actualTarget, op)">
    <span class="icon">
      <i class="fas fa-search" ></i>
    </span>
  </div>
  <div class="icon" pTooltip="Events" tooltipPosition="right" (click)="navigateTo('events')">
    <span class="icon">
      <i class="fas fa-futbol"></i>
    </span>
  </div>
  <div class="icon" pTooltip="Venues" tooltipPosition="right" (click)="navigateTo('venues')">
    <span class="icon">
      <i class="fas fa-th-list"></i>
    </span>
  </div>
  <div class="icon" pTooltip="Profile" tooltipPosition="right" tooltipStyleClass="tooltip" (click)="navigateTo('profile')">
    <span class="icon">
      <i class="fas fa-user-alt"></i>
    </span>
  </div>
  <div class="icon" pTooltip="Logout" tooltipPosition="right" tooltipStyleClass="tooltip" (click)="logout()">
    <span class="icon">
      <i class="fas fa-sign-out-alt"></i>
    </span>
  </div>
  <div class="icon" pTooltip="Admin" tooltipPosition="right" tooltipStyleClass="tooltip" >
    <span class="icon">
      <i class="fas fa-user-shield"></i>
    </span>
  </div>
</div>

<p-overlayPanel #op [dismissable]="true" (onShow)="clearQuery()">
  <div class="ui-g-12 searching-panel">
    <p-autoComplete [(ngModel)]="query" [autoHighlight]="true" [suggestions]="locationResults" [minLength]="3"
      size="30" field="title"
      (completeMethod)="locationSearch($event)" placeholder="Location" (onSelect)="centerMap($event, op)"></p-autoComplete>
  </div>
</p-overlayPanel>
