<div style="padding:1em;line-height:1.5" style="word-break: break-all;">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-md-offset-3 ui-lg-4 ui-lg-offset-4">
      <alert></alert>
      <h4>Change password</h4>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>
            password:
          </label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">
              Password is required
            </div>
            <div *ngIf="f.password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-success">Edit</button>
          <p-progressSpinner
            *ngIf="loading"
            [style]="{ width: '16px', height: '16px' }"
            strokeWidth="8"
            animationDuration=".5s"
          ></p-progressSpinner>
          <a
            [routerLink]="['/home']"
            class="btn btn-link"
            style="color: #34A835"
            >Cancel</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
